*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    
}
body {
    background-image: url(pics/pexels-stywo-1054218.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
    color: #ffffff;
    font-size: 17px;
    text-shadow: 0 0 5px rgba(0,0,0,0.7);
}
.basliklar{
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
}

nav{
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    position: fixed ;
    top: 0;
    width: 100%;
    z-index: 1000;
}
nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
    transition: all 0.3s ease;
}
nav li{
    height: 50px;
    flex: 1;
    text-align: center;
    transition: all 0.3s ease
}
nav li:hover{
    flex: 3;
    
}
nav li:not(:hover) {
    flex: 1;
    
}
nav a{
    height: 100%;
    text-decoration: none;
    padding: 15px 0;
    display: block;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 17px;
    transition: all 0.3s ease;
    
    
}
nav a:hover{
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0.2);
    
}
#topcontainer{
    max-height: auto;
    display: flex;     
    justify-content: space-around;
    padding-top: 12rem;
}
#topyazi{
    max-width: 45%;
    width: 100%;
    margin-top: 8rem;


}
#topfoto{
    width: 250px; 
    height: auto;
    max-width: 100%;
    object-fit: cover;
    border-radius: 100%;
    display: block;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    margin-left: 30vh;
   
}
.butonlar {
    display: flex;
    gap: 35px;
    margin-top: 20px;
    
}
.butonlar a i {
    font-size: 30px;
    color: #ffffff;
    background-color: #E1306C;
    padding: 12px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 14vh;
    display: inline-block;
    transition: 0.3s;
    
    
}

.butonlar a i:hover {
    background-color: #fff;
    color: #E1306C;
}
#midcontainer{
    display: flex;
    height: auto;
    justify-content: flex-start;
    padding-top: 7rem;
    
}
#midyazi{
    max-width: 45%;
    width: 100%;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-left: 200px;
    
}
img {
    max-width: 100%;
    height: auto;
}
.baslik{
    color: #E1306C;
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 45vh;
    padding-top: 150px;
}
div ul{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#Iletisim{
    display: flex;
    justify-content: center;
    margin-top: 40vh;
}
@media (max-width: 768px) {
    #topcontainer, #midcontainer {
        flex-direction: column;
        align-items: center;
    }

    #topfoto, #midfoto {
        width: 200px;
        margin: 0;
    }
}